In [4]:
import pandas as pd
import os
import sys
from pathlib import Path

In [11]:
result_folder = '/mlodata1/hokarami/fari/tracking/results/scaled_images/all_results/'
compare_folders = ['result_features/_100KB', 'results_fourier_10_locality_false/_100KB', 'esults_fourier_10_and_f10_locality_False/_100KB']
# loop over folders in result folder and open the 'result_sum_colony_56__dt_1234__t_all_filtered.csv' file in them
# and append the results to a dataframe

df = pd.DataFrame()
for result_folder in compare_folders:
    i = 0
    for folder in os.listdir(result_folder):
        print(folder)
        model_path = folder
        seed = i
        i+=1
        test_pipeline(model_path)

2023-12-19_12:47:30
2023-12-19_13:35:11
2023-12-19_14:23:17
2023-12-19_11:09:56
2023-12-19_12:01:57

In [13]:
df.groupby(['timediff', 'colony']).mean()

/tmp/ipykernel_1711/2921037555.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['timediff', 'colony']).mean()

                       f1      tp     fp     fn        tn  num_cells1  \
timediff colony
5        5       1.000000  2684.0    0.0    0.0   57472.0      2684.0
         6       0.999584  3366.6    1.4    1.4  229058.6      3368.0
10       5       0.999169  2643.8    2.2    2.2   56754.8      2646.0
         6       0.997840  3234.0    7.0    7.0  220605.0      3241.0
15       5       0.996933  2600.0    8.0    8.0   56028.0      2608.0
         6       0.987620  3079.4   38.6   38.6  212344.4      3118.0
20       5       0.992921  2552.8   18.2   18.2   55325.8      2571.0
         6       0.965911  2895.8  102.2  102.2  204151.8      2998.0

                 num_cells2  precision    recall
timediff colony
5        5           2720.0   1.000000  1.000000
         6           3496.0   0.999584  0.999584
10       5           2718.0   0.999169  0.999169
         6           3493.0   0.997840  0.997840
15       5           2716.0   0.996933  0.996933
         6           3490.0   0.987620  0.987620
20       5           2713.0   0.992921  0.992921
         6           3487.0   0.965911  0.965911